.apuri_wrap{
	width:1122px;
	margin:0 auto;
	padding-bottom:20px
}
.apuri_contents{
	width:1008px;
	margin:0 auto;
}
.apuri_ttl{
	margin-bottom:20px;
}
.apuri_section{
	background:url(../images/common/bg2.png);
	padding:20px 40px;
	position:relative;
	margin-bottom:45px;
}
.apuri_subttl{
	color:#0099ff;
	font-size:24px;
	padding-bottom:5px;
	border-bottom:2px solid #0099ff;
	margin-bottom:20px;
}
.apuri_section_left{
	width: 330px;
	float: left;
}
.apuri_section_right{
	width: 598px;
	float: left;
}
.apuri_info{
	line-height: 1.3;
	font-size: 16px;
}
.apuri_infos{
	line-height: 1.3;
	font-size: 12px;
}
.apuri_info a{
	color:#0078ff;
}
.apuri_bnr{
	margin-top: 5px;
	margin-bottom: 10px;
}
.apuri_notes{
	margin-top:30px;
	color:#333333;
	font-size: 12px;
}
