.top_wrap{
	background:url(../images/top/top_bg.png) no-repeat;
	width:1122px;
	height:890px;
	position:relative;
	margin:0 auto;
}
.top_img1{
	position:absolute;
	left:214px;
	top:121px;
}
.top_img2{
	position:absolute;
	left:214px;
	top:121px;
}
.top_img3{
	position:absolute;
	left:595px;
	top:253px;	
}
.top_img4{
	position:absolute;
	left:549px;
	top:469px;	
}
.top_side{
	position:absolute;
	left:27px;
	top:193px;
	width:230px;
}
.top_news{
	width:210px;
	height:105px;
	background:url(../images/top/top_news_waku.png) no-repeat left top;
	padding-top:45px;
	padding-left:20px;
	margin-bottom:10px;
}
.top_news_txt{
	width:190px;
	height:80px;
	overflow:auto;
}
.top_news p{
	margin-bottom:5px;
}
.top_news p a{
	color:#0099ff;
}
.top_mini1000{
	position: absolute;
	left: 923px;
	top: 530px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.top_twitter{
	position: absolute;
	left: 545px;
	top: 520px;
	width: 445px;
	height: 362px;
	background: url(../images/top/top_twwiter_waku.png) no-repeat 0 0;
}
.top_twitter_btn{
	position:absolute;
	right:2px;
	bottom:0;
	width:50px;
	height:50px;
}
.top_bnr{
	margin-bottom:10px;
}
.top_twitter_timeline{
	margin: 110px 0 0 25px;
}

/*冬コミ*/
.top_wrap2{
	background:url(../images/top/top_bg2.png) no-repeat;
	width:1122px;
	height:890px;
	position:relative;
	margin:0 auto;
}
.top_wrap3{
	background:url(../images/top/top_bg3.png) no-repeat;
	width:1122px;
	height:890px;
	position:relative;
	margin:0 auto;
}
.top_twitter2{
	background: url(../images/top/top_twwiter_waku2.png) no-repeat 0 0;
	width:230px;
	height:358px;
	position:relative;
}
.top_twitter_timeline2{
	padding-top:100px;
	padding-left:15px;
}
.top_twitter_btn2{
	position:absolute;
	right:2px;
	top:20px;
	width:50px;
	height:50px;
}
#top_btn{
	position:absolute;
	left:326px;
	top:722px;
}

/*1周年*/
#top_chara{
	position: absolute;
	top: 122px;
	left: 294px;
}
#top_chara_white{
	position: absolute;
	top: 106px;
	left: 281px;
}
#top_txt1{
	position: absolute;
	top: 166px;
	left: 621px;
}
#top_txt2{
	position: absolute;
	top: 282px;
	left: 789px;
}
.top_shortdrama_ttl{
	text-align:center;
	position:relative;
}
.top_shortdrama_bg{
	background:url(../images/top/shortdrama_bg.png) no-repeat 0 0;
	margin-top:-85px;
	padding-top:95px;
	height:171px;
}
.top_shortdrama_btn{
	width:168px;
	margin:0 auto;
	cursor:pointer;
}
.top_shortdrama_txt{
	margin-top:15px;
	text-align:center;
}

/*ミリオ*/
.top_myrio_bnr{
	text-align: center;
	margin-top: 10px;
}