[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:galaxy001/galaxy-doc.git
	push = refs/heads/master:refs/heads/gh-pages
	push = refs/heads/master:refs/heads/master
[branch "master"]
	remote = origin
	merge = refs/heads/master
