@charset "utf-8";

#h1Area {
	width: 920px;
	margin: 0 auto 55px;
	position: relative;
	text-align:right;
}
#h1Area p {
	position: absolute;
	top: 55px;
	left: 0;
	text-align: right;
	color: #FFFFFF;
	width: 100%;
}

#main ol {
	margin: 20px;
}

#main ol li {
	margin: 40px 0 40px 20px;
	list-style: decimal;
	font-weight: bold;
}

#main ol ul li {
	list-style: none;
	margin: 10px;
	font-weight: normal;
	text-indent: -1.5em;
}

#main .read {
	margin: 20px 20px 50px 20px;	
}
